*{
    font-family: 'Poppins', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.feature-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    align-items: center;
    color: hsl(212, 6%, 44%);
    font-size: 28px;
    font-weight: 20;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    width: 90%;
    max-width: 1440px;
    margin: 5% auto;
    padding: 20px;
    width: 90%;
    background-color: #fff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}
.motto {
    position: relative;
    top: -18px;
    color: hsl(212, 6%, 44%);
    font-size: 28px;
}
.about {
    position: relative;
    top: -10px;
    align-content: center;
    margin: -10px auto 30px;
    max-width: 600px;
    color: hsl(212, 6%, 44%);
    font-size: 15px;
}
.icon1 {
    background-image: url('images/icon-supervisor.svg');
    background-size: cover;
    width: 50px;
    height: 50px;
    float: right;
    margin-right: 10px;
}
.icon2 {
    background-image: url('images/icon-team-builder.svg');
    background-size: cover;
    width: 50px;
    height: 50px;
    float: right;
    margin-right: 10px;
}
.icon3 {
    background-image: url('images/icon-karma.svg');
    background-size: cover;
    width: 50px;
    height: 50px;
    float: right;
    margin-right: 10px;
}
.icon4{
    background-image: url('images/icon-calculator.svg');
    background-size: cover;
    width: 50px;
    height: 50px;
    float: right;
    margin-right: 10px;
}
.Supervisor {
    text-align: left;
    padding: 10px;
    border-top:2px solid hsl(180, 62%, 55%);
    width:300px;
    height: 180px;
    border-radius: 3px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    color: hsl(212, 6%, 44%);
}
.Supervisor p {
    font-size: 15px;
}
.Team-Builder {
    text-align: left;
    padding: 10px;
    border-top:2px solid hsl(0, 78%, 62%);
    width:300px;
    height: 180px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    color: hsl(212, 6%, 44%);
}
.Team-Builder p {
    color: hsl(212, 6%, 44%);
    font-size: 15px;
}
.Karma {
    text-align: left;
    padding: 10px;
    border-top:2px solid hsl(34, 97%, 64%);
    width:300px;
    height: 180px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    color: hsl(212, 6%, 44%);
   
    }
.Karma p {
    color: hsl(212, 6%, 44%);
    font-size: 15px;
}
.Calculator{
    text-align: left;
    padding: 10px;
    border-top:2px solid hsl(212, 86%, 64%);
    width:300px;
    height: 180px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    color: hsl(212, 6%, 44%);
    justify-self: center;
} 
.Calculator p {
    color: hsl(212, 6%, 44%);
    font-size: 15px;
}
.cards{
    margin: 50px 0;
    display: flex;    
    gap: 30px;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    margin: auto;
    margin-bottom: 40px;

}  
.card-mid{
     display: flex;
      flex-direction: column;
      gap:inherit;
}
@media screen and(max-width: 375px) {
      body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;}
    .cards{
        display:flex;
        flex-direction:column;
        margin:20px auto;
    }
} 
